.home-page{
    background-color: #b1cbce;
    height: auto;
}

.app-name{
    font-weight: 600;
}

.status-button{
    font-weight: 300;
    margin-right: 30px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 25px;
    padding: 20px;
}

.heading h1{
    color: #363534;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

.heading-1{
    font-size: 1.5rem;
}

.heading span{
    color: #eca952;
}

.home-content{
    max-width: 50%;
    margin: 5% 0 0 10%;
    padding: 20px;
}

.content-head{
    color: #3a3838;
    font-size: 1.5rem;
    padding: 15px 0;
}

.content-1{
    color: #424040;
    font-size: 1rem;
    text-indent: 30px;
    line-height: 1.8;
    font-family: 'Manrope', sans-serif;
}

.service-content{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.images{
    max-width: 30%;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.images p{
    color: #d1b350;
    text-align: center;
    margin: 5% 0 5% 0;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
}

.image{
    height: 80px;
    width: 80px;
    margin: 15px;
}

.service-content-heading{
    color: #d1b350;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    padding: 20px 0;
}

.service-content p{
    color: #3f3d3c;
    padding: 5px 0;
    font-family: 'Manrope', sans-serif;
}

.service-list{
    max-width: 50%;
    margin-right: 100px;
    
}

.icon{
    height: 10px;
    width: 25px;
    color: #ffbc7d;
}

.list-item{
    max-width: 75%;
    margin-bottom: 20px;
    background-color: #5b5b5e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.service-name{
    color: #f0bc78;
}

.service-image{
    height: 30%;
    width: 30%;
}

.quality-image{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.quality-image-1 img{
    width: 8rem;
    height: 8rem;
}

.quality-image-2 img{
    width: 8rem;
    height: 8rem;
}

.quality h2{
    margin: 30px 20px;
    color: #d1b350;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.quality p{
    color: #2e2c2c;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2;
    padding: 20px;
}

.booking{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 20px;
}

.booking-image img{
    height: 15rem;
    width: 15rem;
    margin: 30px 0;
}

.booking-heading{
    margin: 30px 0;
    color: #d1b350;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.booking-form{
    margin-left: 40px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 10px 0;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
