
<div class="home-page">
<mat-toolbar class="toolbar">
  <span class="container app-name">Bike Service</span>
  <button mat-button  routerLink="/dashboard"><lucide-icon name="home" [size]="20" [strokeWidth]="2"></lucide-icon></button>
</mat-toolbar>
<div class="container">
	
<table class="table table-striped" responsive>
	<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Service Type</th>
			<th scope="col">Bike Model</th>
			<th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of newbooking; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ data.servicetype }}
			</td>
			<td>{{ data.bike }}</td>
			<td>{{data.status}}</td>
      		<td>{{ data.date }}</td>
      
		</tr>
	</tbody>
</table>
</div>
</div>