<div class="register-form mb-3">
    <div class="heading">
        <h2>Register</h2>
    </div>
    <form 
    class="form"
    #f="ngForm"
    novalidate
    (ngSubmit)="f.form.valid && userRegister()"
    >
    <div class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label for="email">Email</mat-label>
            <input matInput placeholder="Enter Email" value=""
             type="email" name="email" [(ngModel)]="register.email" #name="ngModel" required
            >
          </mat-form-field>
        <span
        class="text-danger"
        *ngIf="this.submit && name.errors?.['required']"
        >
            Email is Required
        </span>
    </div>
    <div class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label for="mobile">Mobile</mat-label>
            <input matInput placeholder="Enter Mobile Number" value=""
            type="number" name="mobile" [(ngModel)]="register.mobile" #name="ngModel" required
            >
          </mat-form-field>
        <span
        class="text-danger"
        *ngIf="this.submit && name.errors?.['required']"
        >
        Mobile Number is Required
        </span>
    </div>
        
        <div class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label for="password">Password</mat-label>
                <input matInput placeholder="Enter Password" value=""
                type="password" name="password" [(ngModel)]="register.password" #name="ngModel" required
                >
              </mat-form-field>
            <span
            class="text-danger"
            *ngIf="this.submit && name.errors?.['required']"
            >
            Password is Required
            </span>
        </div>
        <br>
        <button mat-raised-button color="primary" type="submit" (click)="this.submit=true">Register</button>


    <div class="link-tag">
        <p>Already have an account?<a href="javascript:void(0)" routerLink="/login" class="link">Login</a></p>
    </div>
    </form>
</div>
